.ppcabout {
    padding: 5rem;
    height: 90vh;
    background-image: url('./assets/ppc-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.ppcabout h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
    margin-top: 3rem;
}

.ppcabout h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.ppcabout p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}

.ppcabout-btn {
    margin-top: 2rem;
}