.ebabout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.ebabout-container {
    height: 80vh;
}

.ebaboutcol-left{
    float: left;
    color: #000;
}

.ebaboutcol-left h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    line-height: 1.2;
}

.ebaboutcol-left p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    color: #000;
}

.ebaboutcol-left h3 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    color: #F04E31;
}

.ebaboutcol-left btn{
    margin-top: 1.2rem;
}

.ebaboutcol-right {
    float: right;
}

img.ebimg{
    width: 500px;
}