.ebdesc {
    padding: 5rem 5rem;
    height: 150vh;
    background:#1c1c1c;
    width: 100%;
}

.ebdesc h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.ebdesc h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.ebdesc p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}

img.ebdescri {
    width: 470px;
}

.ebdesc-cat{
    display: flex;
    margin-top: 5rem;
}

.ebdesc-left{
    float: left;
    width: 70%;
    display: flex;
}

.ebdesc-right{
    float: right;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}

img.ebdesc2ri {
    width: 470px;
}

.ebdesc-cat2{
    display: flex;
    margin-top: 4rem;
}

.ebdesc2-left{
    float: left;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}

.ebdesc2-right{
    float: right;
    width: 40%;
    display: flex;
}