.ebdetails {
    padding: 5rem 5rem;
    height: 70vh;
    background-image: url('./assets/project-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.ebdetails h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.ebdetails h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.ebdetails p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}

.left-ebdetails{
    float: left;
    width: 80%;
}