.ebexp {
    padding: 5rem 5rem;
    height: 200vh;
    background:#1c1c1c;
    width: 100%;
}

.ebexp h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.ebexp h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.ebexp p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}

img.ebi{
    width: 1200px;
}

img.ebri {
    width: 400px;
}

.eb-cat{
    display: flex;
    margin-top: 4rem;
}

.eb-left{
    float: left;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center
}

.eb-right{
    float: right;
    width: 40%;
}