.ebexp {
    padding: 5rem 5rem;
    height: 200vh;
    background:#fff;
    width: 100%;
}

.ebexp h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #000;
}

.ebexp h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
}

.ebexp p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

img.ebi{
    width: 1200px;
}