.ecomus {
    padding: 5rem 5rem;
    height: 200vh;
    background-image: url('./assets/ecombg.png');
    width: 100%;
    background-size: cover;
}

.ecomus h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.ecomus h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #fff;
}

.ecomus p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}

.ecomus-wrapper {
    display: flex;
    flex: 1;
    margin-top: 3.5rem;
}

.ecomus-1 p {
    font-size: 0.9rem;
}

.ecomus-2 p {
    font-size: 0.9rem;
}

.ecomus-3 p {
    font-size: 0.9rem;
}

.ecomus-4 p {
    font-size: 0.9rem;
}

.ecomus-1, .ecomus-2, .ecomus-3, .ecomus-4 {
    height: 260px;
    width: 260px;
    margin: 1rem;    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ecousproject h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.ecousproject h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
}

.ecousproject p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

.ecous-wrapper{
    display: flex;
    margin-top: 2rem;
}

img.ecousimg{
    width: 270px;
}

ul.ecousrow-items{
    display: flex;
}
