.ecservice {
    padding: 5rem 5rem;
    height: 150vh;
    background:#fff;
} 

.ecservice h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
}

.ecservice h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.ecservice p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
}

.ecservice-wrapper {
    display: flex;
    flex: 1;
    margin-top: 3.5rem;
}

.ecservice-1 p {
    font-size: 0.9rem;
}

.ecservice-2 p {
    font-size: 0.9rem;
}

.ecservice-3 p {
    font-size: 0.9rem;
}

.ecservice-4 p {
    font-size: 0.9rem;
}

ul.ecservice-1 {
    margin-right: 2rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 2px 2px #eee;
    width: 260px;
    height: 300px;
    padding: 0.2rem;
}

ul.ecservice-2 {
    margin-right: 2rem;
    box-shadow: 2px 2px 2px 2px #eee;
    width: 260px;
    height: 300px;
}

ul.ecservice-3 {
    margin-right: 2rem;
    box-shadow: 2px 2px 2px 2px #eee;
    width: 260px;
    height: 300px;
}

ul.ecservice-4 {
    box-shadow: 2px 2px 2px 2px #eee;
    width: 260px;
    height: 300px;
}

p.ec-desc {
    color: #000;
}

h1.ecno {
    color: #F04E31;
}

.ecleft-desc{
    float: left;
    width: 60%;
}

.ecright-desc{
    float: right;
    width: 40%;
    align-items: baseline;
    padding-top: 2.4rem;
}

.ecright-desc p {
    font-size: 1rem;
    font-weight: 300;
    padding-right: 0px;
    color: black;
}

.ecdesc{
    margin-top: 4rem;
}