.ldfeature {
    padding: 5rem;
    height: 90vh;
    background: #1C1C1C;
}

.ldfeature h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
    margin-top: 3rem;
}

.ldf-row1 {
    display: flex;
}