.ldfeature {
    padding: 5rem;
    height: 90vh;
    background-image: url('./assets/logodesign-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.ldfeature h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
    margin-top: 3rem;
}
