.ldprice {
    padding: 5rem;
    height: 90vh;
    background: #fff;
}

.ldprice h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #000;
    margin-top: 3rem;
}

.ldprice h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
}

.lprice p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

.ldprice-btn {
    margin-top: 2rem;
}