.ldprice {
    padding: 5rem;
    height: 130vh;
    background: #fff;
}

.ldprice h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #000;
    margin-top: 3rem;
}

.ldprice h4 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: #000;
    text-align: center;
}

.ldprice p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

.ldbasic-btn {
    margin-top: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ldstandred-btn{
    margin-top: 6rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ldpremium-btn{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ldfp {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}


.ldf-col2 {
    background: #F04E31;
}

svg.check{
    color: #F04E31;
    margin-right: 1rem;
}

svg.checkw{
    color: #FFF;
    margin-right: 1rem;
}

h4.ldfw {
    color: #fff;
}

p.ldfw{
    color: #fff;
}

.ldf-col1, .ldf-col2, .ldf-col3 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 2rem;
    height: 520px;
}
