.servicepage {
    padding: 5rem 5rem;
    height: 400vh;
    background: #fff;
}

.servicepage h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #000;
}

.servicepage h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
}

.servicepage p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

.left-servicedesc{
    float: left;
    width: 60%;
}

.right-servicedesc{
    float: right;
    width: 40%;
    align-items: baseline;
    padding-top: 2.4rem;
}

.service-desc p {
    font-size: 1rem;
    font-weight: 300;
    padding-right: 0px;
}

.servicepage-1 p {
    font-size: 0.9rem;
}

.servicepage-2 p {
    font-size: 0.9rem;
}

.servicepage-3 p {
    font-size: 0.9rem;
}

.servicepage-4 p {
    font-size: 0.9rem;
}

.servicepage-5 p {
    font-size: 0.9rem;
}

.s1-desc {
    float: left;
    width: 50%;
    height: 400px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
    margin-top: 2rem;
}

.s2-desc {
    float: right;
    width: 50%;
    height: 400px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
    margin-top: 2rem;
}

.s3-desc{
    float: left;
    width: 50%;
    height: 400px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
    margin-top: 2rem;

}

.s4-desc {
    float: right;
    width: 50%;
    height: 400px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
    margin-top: 2rem;

}

.s5-desc {
    float: left;
    width: 50%;
    height: 400px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
    margin-top: 2rem;

}

.s1-img {
    float: right;
    margin-top: 2rem;
    width: 500px;
}
.s2-img  {
    margin-top: 2rem;
    width: 500px;
}
.s3-img{
    float: right;
    margin-top: 2rem; 
    width: 500px;
}
.s4-img{
    margin-top: 2rem;
    width: 500px;
}
.s5-img{
    float: right;
    margin-top: 2rem; 
    width: 500px;
}

.servicepage-wrapper {
    display: grid;
}