.wdproject {
    padding: 5rem 5rem;
    height: 520vh;
    background:#1c1c1c;
}

.wdproject h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #F04E31;
}

.wdproject h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
}

.wdproject p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

.wdpro-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

img.wdproimg{
    width: 270px;
}

ul.wddprorow1-items {
    display: flex;
    flex-direction: row;
}
