.wdservice {
    padding: 5rem 5rem;
    height: 100vh;
    background:#fff;
} 

.wdservice h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
}

.wdservice h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.wdservice p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
}

.wdservice-wrapper {
    display: flex;
    flex: 1;
    margin-top: 3.5rem;
}

.wdservice-1 p {
    font-size: 0.9rem;
}

.wdservice-2 p {
    font-size: 0.9rem;
}

.wdservice-3 p {
    font-size: 0.9rem;
}

.wdservice-4 p {
    font-size: 0.9rem;
}

ul.wdservice-1 {
    margin-right: 3rem;
    margin-left: 1rem;
}

ul.wdservice-2 {
    margin-right: 3rem;
}

ul.wdservice-3 {
    margin-right: 3rem;
}